@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgMain text-white;
}

.sectionContainer {
  @apply mx-auto w-full max-w-[90rem] px-4 sm:px-6 lg:px-[8.4375rem];
}

.partnerItem {
  position: relative;
  display: flex;
  height: 23.125rem;
  width: 14.625rem;
  align-items: center;
  justify-content: center;
}

.partnerItem::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 23.125rem;
  width: 23.125rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 0.125rem solid #02ba95;
}

.cardBackground {
  background: linear-gradient(
    90deg,
    rgba(2, 186, 149, 1) 0%,
    rgba(52, 57, 55, 1) 50%
  );
}

.errorMessage {
  @apply ml-[0.3125rem] text-[0.75rem] leading-[1] text-red-500;
}
